<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParentNotify | Home</title>

    <link rel="stylesheet" href="/src/css-sass/css/apk.css">

    <script src="https://kit.fontawesome.com/aa91c476b6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <section>
                <button><i class="fa-solid fa-bars"></i></button>
            </section>
            
            <section>
                <button><i class="fa-regular fa-bell"></i></button>
                <button><i class="fa-regular fa-calendar"></i></button>
            </section>
        </nav>
    </header>
    <main>
        <div class="titles">
            <h2>ParentNotify</h2>
            <h1>¡Hola, <span id="usuario">Usuario</span>!</h1>
        </div>

        <div class="basicInfo">
            <section class="primeraSection">
                <div class="resumenHoy">
                    <span>Resumen de hoy</span>
                    
                    <div>
                        
                    </div>
                    <p class="infoDeHoy">¿Asistio?</p>
                </div>
                <div class="entradaSalida">

                </div>
            </section>

            <section>
                <div class="resumenSemanal">

                </div>
            </section>
        </div>
    </main>
    <script src="/src/js/modules/register-data.js"></script>
</body>
</html>