<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParentNotify | Home</title>

    <link rel="stylesheet" href="/src/css-sass/css/apk.css">

    <script src="https://kit.fontawesome.com/aa91c476b6.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <section>
                <label for="menu" id="menu3"><i for="menu" class="fa-solid fa-bars"></i></label>
                <input type="checkbox" name="menu" id="menu">
                <ul>
                    <div id="estructure">
                        <div id="label_menu"><h2 id="menu_user"></h2></div>
                    
                        <div id="menu_links">
                            <div>
                                <li><a href="#"><i class="fa-solid fa-chart-simple"></i>resumen</a></li>
                                <li><a href="#"><i class="fa-solid fa-clock"></i>horarios</a></li>
                                <li><a href="#"><i class="fa-solid fa-shield-halved"></i>politicas y Condiciones</a></li>
                                <li><a href="#"><i class="fa-solid fa-circle-info"></i>Acerca De</a></li>
                                <li><a href="#"><i class="fa-solid fa-envelope"></i>Contactanos</a></li>
                            </div>
                            
                        </div>
                        <div>
                            <li id="config_menu<a"- href='#'><i class="fa-solid fa-gear"></i>configuracio</a></li>
                        </div>
                    </div>
                    
                </ul>
            </section>

            <section>
                <button onclick="notify()"><i class="fa-regular fa-bell"></i></button>
            </section>
        </nav>
    </header>
    <main>
        <div class="titles">
            <h2>ParentNotify</h2>
            <h1>¡Hola, <span class="usuario">Usuario</span>!</h1>
        </div>

        <div>
            <section class="todayInfo">
                <div class="todayResume">
                    <span class="squareText">Resumen de hoy</span>

                    <div class="separador">
                        <div>
                            <span>¿Asistió hoy?</span>
                            <span class="state">
                                <i class="fa-solid fa-x"></i>
                            </span>
                        </div>

                        <div>
                            <span>¿Tuvo salida?</span>
                            <span class="state">
                                <i class="fa-solid fa-x"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="todayHours">
                    <span class="squareText">Horas de ponche</span>

                    <div class="separador">
                        <div>
                            <span>Hora de entrada</span>
                            <span class="hour">??:??</span>
                        </div>

                        <div>
                            <span>Hora de salida</span>
                            <span class="hour">??:??</span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="weeklyInfo">
                <div class="weeklyResume">
                    <span class="squareText">Resumen semanal</span>

                    <div class="weekDays">
                        <div>
                            <span class="state">
                                <i class="fa-solid fa-x"></i>
                            </span>
                            <p>LUN</p>
                        </div>
                        <div>
                            <span class="state">
                                <i class="fa-solid fa-x"></i>
                            </span>
                            <p>MAR</p>
                        </div>
                        <div>
                            <span class="state">
                                <i class="fa-solid fa-x"></i>
                            </span>
                            <p>MIE</p>
                        </div>
                        <div>
                            <span class="state">
                                <i class="fa-solid fa-x"></i>
                            </span>
                            <p>JUE</p>
                        </div>
                        <div>
                            <span class="state">
                                <i class="fa-solid fa-x"></i>
                            </span>
                            <p>VIE</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="/src/js/modules/register-data.js"></script>
</body>

</html>