<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css-sass/css/login.css">
    <title>Login</title>
</head>
<body>
    <div id="pre-load"> 
            <img id="logo" src="/public/assets/img/Sin título.png" alt="logo-ParentNotify">
    </div>
    <section id="entrar-seguuro">
        <section>
        <img src="../assets/student.png" alt="student">
        <div>
            <h1>registro de estudiantes</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, similique sunt reprehenderit harum suscipit natus architecto</p>
        </div><br><br><br>
        <button class="boton" id="entrar" onclick="registro()">Ver Horario</button>
        </section>
    </section>
    <script src="../js/modules/links.js"></script>
</body>