
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css-sass/css/login.css">
    <title>Login</title>
</head>
<body id="body-register">
    <main>
        <h1><span>Parent</span> Notify</h1>
        <section class="sections-registers" id="img-register-section"><img id="logo-register" src="../assets/libro.png" alt="logo-ParentNotify"></section>
        <section class="sections-registers" id="form-register">
            <form action="./apk.html">
                <input placeholder="nombre" type="text" name="register-Name" id="register-Name" required>
                <br>
                <input placeholder="apellido" type="text" name="register-Lastname" id="register-Lastname">
                <br>                
                <input placeholder="contraseña" type="password" name="register-Password" id="register-Password"required>
                <br>
                <input placeholder="confirma tu contraseña" type="password" name="register-Password" id="register-Password"required>
                <br>
        
                <select type="text" name="register-Grade" id="register-Grade"required>
                    <option value="1">Primero</option>
                    <option value="2">Segundo</option>
                    <option value="3">Tercero</option>
                    <option value="4">Cuarto</option>
                    <option value="5">Quinto</option>
                    <option value="6">Sexto</option>
                </select>
                
                <select type="text" name="Section" id="register-Section" required>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="e">E</option>
                </select>
                <br><br>
            <button class="boton" onclick="app_Enter_Register()">Ingresar</button>
        </form>
        <br><br> 
    </section>
    
    </main>
    <script src="/src/js/modules/links.js"></script>
    <script src="/src/js/modules/register-data.js"></script>
</body>
</html>